<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Biblioteca ESCOM.LIB - Multas</title>
  <link rel="stylesheet" href="../assets/vendors/core/core.css" />
  <link rel="stylesheet" href="../assets/vendors/sweetalert2/sweetalert2.min.css" />
  <link rel="stylesheet" href="../assets/fonts/feather-font/css/iconfont.css" />
  <link rel="stylesheet" href="../assets/css/style.css" />
  <link rel="shortcut icon" href="../assets/images/favicon.png" />
</head>

<body>
  <div class="main-wrapper">
    <nav class="sidebar">
      <div class="sidebar-header">
        <a href="#" class="sidebar-brand"> Biblioteca </a>
        <div class="sidebar-toggler not-active">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="sidebar-body">
        <ul class="nav">
          <li class="nav-item nav-category">Libros</li>
          <li class="nav-item">
            <a href="consultar.html" class="nav-link">
              <i class="link-icon" data-feather="book"></i>
              <span class="link-title">Consultar Libros</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="agregar.html" class="nav-link">
              <i class="link-icon" data-feather="plus-square"></i>
              <span class="link-title">Agregar Libros</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="modificar.html" class="nav-link">
              <i class="link-icon" data-feather="edit"></i>
              <span class="link-title">Modificar Libros</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="eliminar.html" class="nav-link">
              <i class="link-icon" data-feather="trash"></i>
              <span class="link-title">Eliminar Libros</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="reservar-prestamos.html" class="nav-link">
              <i class="link-icon" data-feather="calendar"></i>
              <span class="link-title">Reservar y Préstamos</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="reservar-prestamos.html" class="nav-link">
              <i class="link-icon" data-feather="calendar"></i>
              <span class="link-title">Multas</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="page-wrapper">
      <nav class="navbar">
        <!-- Similar navbar como en tu ejemplo -->
      </nav>
      <div class="page-content">
        <div class="row">
          <div class="col-md-12 stretch-card">
            <div class="card">
              <div class="card-body">
                <h6 class="card-title">Multas</h6>
                <form onsubmit="return formSubmit(event)">
                  <div class="row">
                    <!-- Nombre de la persona -->
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="txtNombrePersona" class="control-label">Nombre</label>
                        <input id="txtNombrePersona" type="text" class="form-control" placeholder="Nombre de la persona"
                          maxlength="100" required />
                      </div>
                    </div>
                    <!-- Motivo de la multa -->
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="txtMotivo" class="control-label">Motivo</label>
                        <input id="txtMotivo" type="text" class="form-control" placeholder="Motivo de la multa"
                          required />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <!-- Monto de la multa -->
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="txtMonto" class="control-label">Monto</label>
                        <input id="txtMonto" type="number" class="form-control" placeholder="Monto de la multa"
                          required />
                      </div>
                    </div>
                    <!-- Fecha de la multa -->
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="dateFecha" class="control-label">Fecha</label>
                        <input id="dateFecha" type="date" class="form-control" required />
                      </div>
                    </div>
                  </div>
                  <button onclick="Swal.fire(
                      'En desarrollo',
                      '',
                      'warning'
                    )" id="btnAgregarMulta" type="submit" class="btn btn-primary submit">
                    Agregar Multa
                  </button>
                  <button onclick="Swal.fire(
                      'En desarrollo',
                      '',
                      'warning'
                    )" id="btnEliminarMulta" type="button" class="btn btn-danger">
                    Eliminar Multa
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer d-flex flex-column flex-md-row align-items-center justify-content-between">
        <p class="text-muted text-center text-md-left">
          Copyright © 2023 <a href="https://github.com/janmayos/ESCOM.LIB">Biblioteca ESCOM.LIB</a>. Todos los derechos
          reservados
        </p>
      </footer>
    </div>
  </div>
  <script src="../assets/vendors/core/core.js"></script>
  <script src="../assets/vendors/sweetalert2/sweetalert2.min.js"></script>
  <script src="../assets/vendors/promise-polyfill/polyfill.min.js"></script>
  <script src="../assets/vendors/feather-icons/feather.min.js"></script>
  <script src="../assets/js/template.js"></script>
  <!-- custom js for this page -->
  <script src="./js/multas.js"></script>
  <!-- end custom js for this page -->
</body>

</html>